.well
  %form{ method: :post, action: "/scan/parse" }
    %legend Paste scan result
    %p
    %textarea{ name: :paste, cols: 100, rows: 10 }
    %p
    %button.btn.btn-main{ type: :submit }
      Submit