- if @trust
  .well
    %form{ method: :post, action: scan_parse_path }
      - params.except(:action, :controller, :commit).each_pair do |k, v|
        - if v.is_a?(Hash)
          - v.each_pair do |name, value|
            %input{ type: :hidden, value: value, name: "#{k}[#{name}]" }
        - else
          %input{ type: :hidden, value: v, name: k }
      %legend Paste scan result
      %p
      %textarea{ name: :paste, cols: 100, rows: 10 }
      %p
      %button.btn.btn-main{ type: :submit }
        Submit
