- if @trust
  .well
    - if params[:rid]
      - action = "/scan/parse?rid=#{params[:rid]}"
    - else
      - action = "/scan/parse"
    %form{ method: :post, action: action }
      %legend Paste scan result
      %p
      %textarea{ name: :paste, cols: 100, rows: 10 }
      %p
      %button.btn.btn-main{ type: :submit }
        Submit